.container {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.myId {
  margin-left: 20%;
  margin-top: 10%;
  width: 250px;
  height: 70%;
  border: 2px solid black;
  box-shadow: 10px 10px #c9d6ff, 12px 12px black;
  background: whitesmoke; /* fallback for old browsers */
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-left: 10rem;
  background-color: whitesmoke;
  height: 500px;
  width: fit-content;
  box-shadow: 10px 10px #c9d6ff, 12px 12px black;
  border: 2px solid black;
}

.caller {
  text-align: center;
  color: #fff;
}

.video-chat {
  margin-top: 0px;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  margin: 20px;
}
/* body {
	background-image: url("../assets/images/background.jpg");
	background-repeat: no-repeat;
    background-size: cover;
} */
