::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Start landing page */
.landingPageWrapper {
  height: 100vh;
  background-image: url("./assets/images/background.jpg");
  position: relative;
}
.landingBtnsWrapper {
  align-self: center;
}
/* .landingBtnsWrapper button{
    background-color: #6D4031;
} */
.popupOpacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  z-index: 1200;
}

.pop-up-styling {
  padding: 10px;
  /* Shadow not working yet */
  box-shadow: 10px 10px 12px 12px rgba(109, 64, 49, 0.5);
  border: 2px solid black;
}

.cloudinary-btn {
  /* to edit */
}

@media (max-width: 400px) {
  .popupOpacity {
    display: hidden;
  }
}
/* End landing page */
@import "./css/pagetransitions.css";

.group-header-image {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.group-header-text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  position: absolute;
  color: white;
  border-radius: 0 0 50px 0;
}


/* ----------Chat room styles ------------- */
.ChatPageWrapper{
  height: 100vh;
  background-image: url("./assets/images/background.jpg");
  position: relative;
}
.room{
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:30px;
  padding: 0;
  background-color: #F9F3F1;
}
.MuiContainer-root{
  padding:0;

}
.heading{
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    width: 100%;
    border-radius: 5px;
    font-family: 'DM Sans';
    color: rgb(70, 70, 70);
    font-size: 2rem;
    font-weight: 500;
    z-index: 1000;
    background-color: #F2E7E3;
}

.messages{
  display: flex;
  flex-direction: column;
}

/* .messageContainer #you{
  display: flex;
  width: calc(50% - 30px);
  justify-content: flex-end;
  align-content: flex-end;

} */


.you {
  justify-self: flex-end;
  align-self: flex-end;
  width: auto;
}

.you .msg{
  background-color: #00bfb6;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-weight: 900;
}


.other{
  justify-content: flex-start;
  align-content: flex-start;
  width: auto;
}

.other .msg{
  background-color: #9bbd3e;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-weight: 900;
}

.sender{
  display: block;
  margin: 20px;
}

/* #you:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
} */

.sender{
  font-weight: bold;
}



/* ----------End of chat room styles ------------- */
.group-page-container {
  display: flex;
}

@media (max-width: 400px) {
  .group-page-container {
    display: flex;
    flex-direction: column;
  }
}
