<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');
=======
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap");

>>>>>>> de230c52aee3ec7f03d095ef5d0afaebbdd91068
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* ----------------------- */
body {
  font-family: "Josefin Sans", sans-serif;
}
/* Start landing page */
.landingPageWrapper {
  height: 100vh;
  /* background-image: url("./assets/images/background.jpg"); */
  position: relative;
}

.landingBtnsWrapper {
  align-self: center;
}
/* .landingBtnsWrapper button{
    background-color: #6D4031;
} */
.popupOpacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  z-index: 1200;
}

.pop-up-styling {
  padding: 10px;
  /* Shadow not working yet */
  box-shadow: 10px 10px 12px 12px rgba(109, 64, 49, 0.5);
  border: 2px solid black;
}

@media (max-width: 400px) {
  .popupOpacity {
    display: hidden;
  }
}
/* End landing page */
@import "./css/pagetransitions.css";

.group-header-image {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.group-header-text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  position: absolute;
  color: white;
  border-radius: 0 0 50px 0;
}

/* ----------Chat room styles ------------- */
.ChatPageWrapper {
  position: relative;
}
.room {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0;
  background-color: #f9f3f1;
  max-width: 50%;
}
#root > div > div.ChatPageWrapper > div > main > div {
  max-width: 1000px;
}

#root > div > div.ChatPageWrapper > div > main > div {
  padding: 0;
}
.heading {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-family: "DM Sans";
  color: rgb(70, 70, 70);
  font-size: 2rem;
  font-weight: 500;
  z-index: 1000;
  background-color: #f2e7e3;
  text-align: center;
}
.heading-text {
  padding: 10px;
}
.MuiContainer-root {
  padding: 0;
}
.heading {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  font-family: "DM Sans";
  color: rgb(70, 70, 70);
  font-size: 2rem;
  font-weight: 500;
  z-index: 1000;
  background-color: #f2e7e3;
}

.chatContainer {
  overflow: scroll;
  height: calc(100vh - 114px);
}

.messages {
  padding: 0;
  background-color: #f9f3f1;
  display: flex;
  flex-direction: column;
}
/* @media (max-width: 550px) {
  .messages {
    height: 94vh;

  }
} */

.messageContainer {
  /* max-width: 70%; */
  margin: 8px;
}

.you {
  align-self: flex-end;
}

.you .msg {
  background-color: #00bfb6;
}

.other .sender {
  text-align: start;
}

.you .sender {
  text-align: end;
}

.other .msg {
  background-color: #c08672;
}

.other {
  justify-content: flex-start;
  align-content: flex-start;
  width: auto;
}

.sender {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.msg {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  padding: 15px;
}
.msg span {
  word-break: break-word;
}

.msg-time {
  margin: 0 !important;
  text-align: end;
  font-size: small;
  color: rgb(70, 69, 69);
}

.messageInputs {
  /* position: fixed; */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-family: "DM Sans";
  color: rgb(70, 70, 70);
  font-size: 2rem;
  font-weight: 500;
  /* z-index: 1000; */
  background-color: #f2e7e3;
  text-align: center;
}
.messageInputs input {
  height: 40px;
  width: 50%;
  border: none;
  background-color: #f9f3f1;
  transition: all 1s ease-in-out;
}
.messageInputs input:focus {
  outline: none;
  background-color: white;
}

.sender {
  font-weight: bold;
}

/* ----------End of chat room styles ------------- */
.group-page-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1200px) {
  .group-page-container {
    display: flex;
    flex-direction: column;
  }
}
/* Start of profile page */
#user-avatar {
  margin: 15px;
}

#user-card {
  display: flex;
}
#user-username {
  font-size: 32px;
}
#user-desc {
  font-size: 17px;
}
#profile-btn{
  background-color: #00bfb6;
}
#user-interests{
  font-size: 20px;
}
/* End of profile page */

.event-legend-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .event-legend-container {
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
  }
}

/* -----------------------------------------*/
/* Not found page*/
/* -----------------------------------------*/
#back-btn {
  position: relative;
  top: -200px;
}
#back-btn-arrow {
  font-size: 50px;
  color: #11504d;
}
.main {
  margin-top: 15%;
  object-fit: cover;
  width: 100%;
}

.st0 {
  fill: #fff;
}
.st2 {
  fill: #5d89af;
}
.st3 {
  fill: #709abf;
}
.st4,
.st6 {
  fill: #fff;
  stroke: #b3dcdf;
  stroke-miterlimit: 10;
}
.st6 {
  stroke: #5d89af;
  stroke-width: 2;
}
.st7,
.st8,
.st9 {
  stroke: #709abf;
  stroke-miterlimit: 10;
}

.st7 {
  stroke-width: 5;
  stroke-linecap: round;
  fill: none;
}
.st8,
.st9 {
  fill: #fff;
}
.st9 {
  fill: none;
}

#cloud1 {
  animation: cloud003 15s linear infinite;
}

#cloud2 {
  animation: cloud002 25s linear infinite;
}

#cloud3 {
  animation: cloud003 20s linear infinite;
}

#cloud4 {
  animation: float 4s linear infinite;
}

#cloud5 {
  animation: float 8s linear infinite;
}

#cloud7 {
  animation: float 5s linear infinite;
}

#tracks {
  animation: slide 650ms linear infinite;
}

#bumps {
  animation: land 10000ms linear infinite;
}

@keyframes jig {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

#car-layers {
  animation: jig 0.35s linear infinite;
}

@keyframes land {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000px);
  }
}

@keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

/* @keyframes cloudFloat {
  0% { transform: translateX(0) translateY(3px); }
  100% { transform: translateX(1000px) translateY(0); }
} */

@keyframes cloud001 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes cloud002 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes cloud003 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0);
  }
  50% {
    transform: translateY(8px) translateX(5px);
  }
  100% {
    transform: translateY(0px) translateX(0);
  }
}

#bracefront,
#braceback {
  animation: braces 1s linear infinite;
}

@keyframes braces {
  0% {
    transform: translateX(-2px);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-2px);
  }
}

/* User card */
/* User card end */
