<<<<<<< HEAD

/* Start landing page */
.landingPageWrapper{
    height: 100vh;
    background-image: url('./assets/images/background.jpg') ;
}
.landingBtnsWrapper{
    align-self: center;
}
/* .landingBtnsWrapper button{
    background-color: #6D4031;
} */
.popupOpacity {
    width: 80%;
    height: 80%;
    background-color:rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 400px) {
    .popupOpacity {
        display: hidden;
    }
}
/* End landing page */
=======
@import "./css/pagetransitions.css";
>>>>>>> 38bdcfe5e5b1c86a1f08b0172326895c3cd10f9e
